[class*="col-"]{
  width: 100%;
}
@media only screen and (min-width:768px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%; background-color: pink}
.col-5 {width: 41.66%; background-color: purple}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
header{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Meppel%2C_molen_de_Weert_RM526385_met_andere_twee_molens_op_de_achtergrond_IMG_2886_2018-04-20_17.43.jpg/311px-Meppel%2C_molen_de_Weert_RM526385_met_andere_twee_molens_op_de_achtergrond_IMG_2886_2018-04-20_17.43.jpg);
  background-size: contain;
  height: 150px;
  width: auto;
  font-family: 'Monoton', cursive;
}
li{
  background-color: olive;
  color: white;
  padding: 10px;
}
ul{
list-style-type: upper-roman;
background-color: olive;
}
img{
  float: right;
  margin-left: 5px;
}
